/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.features__description {
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.overlay__text {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.work-list, .list-filter, .clients, .social, .team, .features, .benefits, .menu-list, .site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.work-list__link, .menu-list__link, .contact__link, .site-nav__link, .address__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
  }
}
.title--hero {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .title--hero {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.title--client-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
  color: #212121;
}

.icon-svg {
  fill: currentColor;
}

.address {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.address--page-footer {
  display: flex;
  flex-direction: column;
}
.address__link {
  color: #ffffff;
}
.address__link--page-footer:first-child {
  margin-top: 20px;
}
.address__link--page-footer:not(:first-child) {
  margin-top: 8px;
}
.address__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .subscribe {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.subscribe__input {
  max-height: 50px;
  color: #ffffff;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 1200px) {
  .subscribe__input {
    margin-bottom: 20px;
    min-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    width: 368px;
  }
}
.subscribe .btn--subscribe {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.subscribe__icon-send {
  margin-left: 10px;
}

.client-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.client-form__label {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.client-form__label:hover .client-form__input {
  border-color: #2196f3;
}
.client-form__label.client-form__label--last {
  margin-bottom: 20px;
}

.client-form__input {
  margin-top: 4px;
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-form__input:focus {
  border-color: #2196f3;
  outline: transparent;
}

.client-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: #212121;
  transform: translateY(calc(-50% + 9px));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-form__label:hover .client-form__icon {
  fill: #2196f3;
}
.client-form__input:focus ~ .client-form__icon {
  fill: #2196f3;
}

.client-form__comment {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-form__comment:hover, .client-form__comment:focus {
  border-color: #2196f3;
  outline: transparent;
}

.icon-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-form__label-policy {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.client-form__icon-checkbox {
  display: inline-block;
  align-self: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.client-form__input-policy:checked + .client-form__icon-checkbox {
  background-image: url(../image/svg/icon-checkbox.svg);
  background-size: contain;
  background-color: #2196f3;
  background-origin: border-box;
  border-color: transparent;
}

.client-form__link-policy {
  margin-left: 5px;
  color: #2196f3;
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  overflow: hidden;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  position: relative;
}

.page-header--border {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .site-nav__menu {
    position: absolute;
    top: calc(100% - 80px);
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    z-index: 10;
    transform: translateY(-100%);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .site-nav__menu {
    display: flex;
    flex-basis: 100%;
  }
}

.logo {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    padding-top: 24px;
    padding-bottom: 25px;
    line-height: 1.17;
  }
}
.logo--page-footer {
  padding: 0;
}
.logo__color--page-header {
  color: #212121;
}
.logo__color--page-footer {
  color: #ffffff;
}

.site-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .site-nav {
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: inline-flex;
    align-items: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .site-nav__list {
    margin-left: 94px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav__item:nth-child(2) {
    margin: 32px 0;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}
.site-nav__link {
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .site-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    display: flex;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
  .site-nav__link.active {
    color: #2196f3;
  }
  .site-nav__link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact:last-child {
    order: 3;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact {
    flex-direction: column;
  }
}
.contact__link {
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .contact__link {
    font-size: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:nth-child(2) {
    order: 2;
  }
  .contact__link:first-child {
    order: 1;
    margin-top: 32px;
  }
  .contact__link:hover, .contact__link:focus {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    display: inline-flex;
    font-size: 12px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: inline-flex;
    margin: 0;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact__link:first-child {
    padding-top: 19px;
  }
  .contact__link:not(:first-child) {
    margin-top: 10px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contact__link:not(:first-child) {
    margin-left: 50px;
  }
}
.contact__icon {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

.menu-list {
  display: flex;
  margin-top: 64px;
  order: -1;
}
@media screen and (min-width: 768px) {
  .menu-list {
    display: none;
  }
}
@media screen and (max-width: 423px) {
  .menu-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 424px) and (max-width: 767px) {
  .menu-list {
    justify-content: left;
  }
}
.menu-list__item {
  position: relative;
}
@media screen and (max-width: 423px) {
  .menu-list__item {
    display: flex;
    flex-basis: calc((100% - 20px) / 2);
  }
  .menu-list__item:nth-child(odd) {
    margin-right: 20px;
  }
  .menu-list__item:nth-child(-n+2) {
    margin-bottom: 20px;
  }
  .menu-list__item:nth-child(-n+2)::before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: -10px;
    display: block;
    height: 1px;
    width: 110px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
@media screen and (min-width: 424px) and (max-width: 767px) {
  .menu-list__item + .menu-list__item {
    margin-left: 20px;
  }
  .menu-list__item:not(:first-child)::before {
    content: "";
    position: absolute;
    left: -10px;
    display: block;
    height: 100%;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
.menu-list__link {
  display: inline-flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section--short-bottom {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section--short-bottom {
    padding-bottom: 47px;
  }
}
.section--short-top {
  padding-top: 60px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--short-top {
    padding-top: 47px;
    display: block;
  }
}
.section--bgc {
  background-color: #f5f4fa;
}
.section__title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.67;
  }
}

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Main/intro/mobile/hero.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Main/intro/mobile/hero@2x.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3), screen and (max-width: 767px) and (min-resolution: 288dpi), screen and (max-width: 767px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Main/intro/mobile/hero@3x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Main/intro/tablet/hero.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Main/intro/tablet/hero@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Main/intro/tablet/hero@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Main/intro/desktop/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Main/intro/desktop/hero@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Main/intro/desktop/hero@3x.jpg);
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--menu {
  position: relative;
  display: inline-flex;
  color: #212121;
  background-color: transparent;
  box-shadow: none;
  z-index: 100;
  border-radius: 0;
}
.btn--menu:hover, .btn--menu:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .btn--menu {
    display: none;
  }
}
.btn--menu .icon-cross {
  display: none;
}
.btn--menu.is-open .icon-cross {
  display: block;
}
.btn--menu.is-open .icon-menu {
  display: none;
}
.btn--hero {
  padding: 10px 32px;
}
.btn--form-submit {
  align-self: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
}
.btn--form-submit:hover, .btn--form-submit:focus {
  background-color: #188ce8;
}
.btn-portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: none;
}
.btn-portfolio:hover, .btn-portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #212121;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover, .btn-close:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767.99px) {
  .benefits__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .benefits__list {
    flex-basis: calc((100% - 30px) / 2);
  }
  .benefits__list:nth-child(2n+1) {
    margin-right: 30px;
  }
  .benefits__list:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    flex-basis: calc((100% - 90px) / 4);
  }
  .benefits__list:not(:last-child) {
    margin-right: 30px;
  }
}
.benefits__list::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.benefits__list:nth-child(1)::before {
  background-image: url(../image/svg/benefits/icon-1.svg);
}
.benefits__list:nth-child(2)::before {
  background-image: url(../image/svg/benefits/icon-2.svg);
}
.benefits__list:nth-child(3)::before {
  background-image: url(../image/svg/benefits/icon-3.svg);
}
.benefits__list:nth-child(4)::before {
  background-image: url(../image/svg/benefits/icon-4.svg);
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}
.benefits__description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features {
  display: flex;
}

.features__list {
  position: relative;
  width: 370px;
  height: 294px;
  background-size: contain;
  background-repeat: no-repeat;
}
.features__list:not(:last-child) {
  margin-right: 30px;
}

.features__description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__list {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-basis: calc((100% - 30px) / 2);
  }
  .team__list:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team__list:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-basis: calc((100% - 90px) / 4);
  }
  .team__list:not(:last-child) {
    margin-right: 30px;
  }
}

.team__photo {
  display: block;
}

.team__meta {
  padding: 30px 0 24px 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__meta {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.team__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  color: #757575;
}

.social {
  display: inline-flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  outline: transparent;
}

.social__link--team {
  color: #afb1b8;
  background-color: #ffffff;
}

.social__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link--footer:hover, .social__link--footer:focus {
  background-color: #2196f3;
  outline: transparent;
}

.clients {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .clients__list {
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients__list:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  .clients__list:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__list {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .clients__list:nth-child(-n+3) {
    margin-bottom: 30px;
  }
  .clients__list:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-basis: calc((100% - 150px) / 6);
  }
  .clients__list:not(:last-child) {
    margin-right: 30px;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__linkfocus {
  color: #2196f3;
  border-color: #2196f3;
}
.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
}
@media screen and (max-width: 767px) {
  .page-footer__wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1200px) {
  .page-footer__wrapper {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
  }
}
@media screen and (max-width: 1200px) {
  .page-footer__item:nth-child(-n+2) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__item:not(:first-child) {
    margin-left: auto;
    margin-top: 12px;
  }
}
.page-footer__item:first-child {
  display: flex;
  flex-direction: column;
}
.page-footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .backdrop {
    overflow: scroll;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 609px;
    height: unset;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.list-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .list-filter {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .list-filter {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 383px) {
  .list-filter__item:nth-child(2n+2) {
    margin-left: 8px;
  }
  .list-filter__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 384px) and (max-width: 391px) {
  .list-filter__item:nth-child(2n+1) {
    margin-right: 8px;
  }
  .list-filter__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 392px) and (max-width: 767px) {
  .list-filter__item:not(:nth-child(3n+1)) {
    margin-left: 8px;
  }
  .list-filter__item:nth-child(3) {
    margin-right: auto;
  }
  .list-filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .list-filter__item {
    justify-content: center;
  }
  .list-filter__item + .list-filter__item {
    margin-left: 8px;
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list__item {
  background: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .work-list__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-list__item {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .work-list__item:nth-last-child(-n+1) {
    margin-bottom: 0;
  }
  .work-list__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .work-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .work-list__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
.work-list__link:hover .overlay__text, .work-list__link:focus .overlay__text {
  transform: translateY(0);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-list__link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
.work-list__img {
  display: block;
}
.work-list__meta {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-list__meta {
    flex-grow: 1;
  }
}
.work-list__name {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.work-list__descr {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */