.title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: $primary-text-color;

  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }

  &--hero {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;

    @media screen and(min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &--client-form {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 12px;
    color: $primary-text-color;
  }
}
